{% load leaflet_tags %}
{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    <title>GeoGame</title>
  </head>
  <body onload="init()">
    <div>
      <div id="mapid"></div>
      <div class="row player">
        <div class="part col-md-6 disabled">
          Reds<br>
          <span class="manipulated">manipulated population:</span> <span id="player_0"> 0 </span> <br>
          <span onclick="upgrade(0)" class="btn btn-secondary"> Invest (+5000m)</span>
        </div>
        <div class="part col-md-6" >
          Blues<br>
          <span class="manipulated">manipulated population:</span> <span id="player_1"> 0 </span> <br>
          <span onclick="upgrade(1)" class="btn btn-secondary"> Invest (+5000m)</span>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Obec</th>
            <th>Populácia</th>
            <th>Vzdialenosť</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
             <span id='output-town-0'></span>
             [<span id='output-label-0'></span>]
            </td>
            <td id='output-population-0'></td>
            <td id='output-distance-0'></td>
          </tr>
          <tr>
            <td>
             <span id='output-town-1'></span>
             [<span id='output-label-1'></span>]
            </td>
            <td id='output-population-1'></td>
            <td id='output-distance-1'></td>
          </tr>
          <tr>
            <td>
             <span id='output-town-2'></span>
             [<span id='output-label-2'></span>]
            </td>
            <td id='output-population-2'></td>
            <td id='output-distance-2'></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
