.container-map {
    width: 80%;
    left: 100px;
}

#mapid { 
    height: 350px; 
}

.player {
    text-align: center;
    font-size: 3em;
}

#player_0 {
    color: red;
}

#player_1 {
    color: blue;
}

.disabled {
    z-index: 1000;
    opacity: 0.33;
    pointer-events: none;
}

.btn-secondary {
    background-color: #ef8;
}

.btn-primary {
    background-color: #246;
}

.manipulated {
    font-size: 0.5em;
}

table {
    font-size: 0.8em;
}

th {
    width: 33%;
}
